{% extends 'basic.html' %} {% block title %}Cart{% endblock %} {% block css %}
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    background-color: #fff;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    margin: 0 auto;
}

a {
    border: 0 none;
    outline: 0;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

p {
    margin: 0.75rem 0 0;
}

h1 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input, button {
    border: 0 none;
    outline: 0 none;
}

button {
    background-color: #666;
    color: #fff;
}

button:hover, button:focus {
    background-color: #555;
}

img, .basket-module, .basket-labels, .basket-product {
    width: 100%;
}

input, button, .basket, .basket-module, .basket-labels, .item, .price, .quantity, .subtotal, .basket-product, .product-image, .product-details {
    float: left;
}

.price:before, .subtotal:before, .subtotal-value:before, .total-value:before, .promo-value:before {
    content: 'AC ';
}

.hide {
    display: none;
}

main {
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 960px;
}

.basket, aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket {
    width: 70%;
}

.basket-module {
    color: #111;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
}


.basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
}

li.price:before, li.subtotal:before {
    content: '';
}

.item {
    width: 55%;
}

.price, .quantity, .subtotal {
    width: 15%;
}

.subtotal {
    text-align: right;
}

.remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 45%;
}

.remove button {
    background-color: transparent;
    color: #777;
    float: none;
    text-decoration: underline;
    text-transform: uppercase;
}

.item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket-product {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
}

.product-image {
    width: 35%;
}

.product-details {
    width: 65%;
}

.product-frame {
    border: 1px solid #aaa;
}

.product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quantity-field {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 0.625rem;
    padding: 2px;
    width: 3.75rem;
}

aside {
    float: right;
    position: relative;
    width: 30%;
}

.summary {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-total-items {
    color: #666;
    font-size: 0.875rem;
    text-align: center;
}

.summary-subtotal, .summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title, .subtotal-value, .total-title, .total-value, .promo-title, .promo-value {
    color: #111;
    float: left;
    width: 50%;
}

.summary-delivery {
    padding-bottom: 3rem;
}

.subtotal-value, .total-value {
    text-align: right;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
}

.summary-checkout {
    display: block;
}

.checkout-cta {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
}

.summary-delivery-selection {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
}

@media screen and (max-width: 640px) {
    aside, .basket, .summary, .item, .remove {
        width: 100%;
    }
    .basket-labels {
        display: none;
    }
    .basket-module {
        margin-bottom: 1rem;
    }
    .item {
        margin-bottom: 1rem;
    }
    .product-image {
        width: 40%;
    }
    .product-details {
        width: 60%;
    }
    .price, .subtotal {
        width: 33%;
    }
    .quantity {
        text-align: center;
        width: 34%;
    }
    .quantity-field {
        float: none;
    }
    .remove {
        bottom: 0;
        text-align: left;
        margin-top: 0.75rem;
        position: relative;
    }
    .remove button {
        padding: 0;
    }
    .summary {
        margin-top: 1.25rem;
        position: relative;
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
        padding: 0 1rem 0 0;
    }
    .summary {
        width: 28%;
    }
}

@media screen and (max-width: 960px) {
    main {
        width: 100%;
    }
    .product-details {
        padding: 0 1rem;
    }
}
{% endblock %} {% block body %}

<body>
    <main>
        <div class="basket">
            <div class="basket-labels">
                <ul>
                    <li class="item item-heading" style="color: #782E9A">Item</li>
                    <li class="price" style="color: #782E9A">Price</li>
                    <li class="quantity" style="color: #782E9A">Quantity</li>
                    <li class="subtotal" style="color: #782E9A">Subtotal</li>
                </ul>
            </div>
        </div>
        <aside>
            <div class="summary">
                <div class="summary-total-items" style="color: #782E9A"><span class="total-items"></span> Items in your Bag</div>
                <div class="summary-subtotal">
                    <div class="subtotal-title" style="color: #782E9A">Subtotal</div>
                    <div class="subtotal-value final-value" id="basket-subtotal" style="color: #F9A926"></div>
                </div>
                <div class="summary-total">
                    <div class="total-title" style="color: #782E9A">Total</div>
                    <div class="total-value final-value" style="color: #F9A926" id="basket-total"></div>
                </div>
                <div class="summary-checkout">
                    <button class="checkout-cta" style="background-color:#F0BB62">Go to Secure Checkout</button>
                </div>
            </div>
        </aside>
    </main>
</body>

{% endblock %} {% block js %}
<script>
    var sum = 0;
    var fadeTime = 300;
    if (localStorage.getItem('cart') != "{}") {
        cart = JSON.parse(localStorage.getItem('cart'));
    } else {
        alert("Please add some items to your Cart. Your Cart is empty");
        window.location = "/shop";
    }
    for (var item in cart) {
        let ite = item;
        let ite1 = item.slice(2, )
        let image = cart[item][3];
        let qty = cart[item][0];
        let name = cart[item][1];
        let price = cart[item][2];
        let subtotal = qty * price;
        sum = sum + subtotal;
        var str = `<div class="basket-product" id="item${ite}">
        <div class="item">
          <div class="product-image" >
            <img src="${image}" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1 style="color: #782E9A !important"><strong><span class="item-quantity">${qty}</span> x <a href="#" style="color: #782E9A;text-decoration: none;">${name}</a></strong></h1>
          </div>
        </div>
        <div class="price" style="color: #782E9A">${price}</div>
        <div class="quantity">
          <input type="number" value="${qty}" min="1" class="quantity-field" id="qty${ite}">
        </div>
        <div class="subtotal" style="color: #782E9A">${subtotal}</div>
        <div class="remove">
          <button style="color: #782E9A" id="rem${ite}">Remove</button>
        </div>
      </div>`
        $('.basket').append(str);
    }
    document.getElementById("basket-total").innerHTML = sum;
    document.getElementById("basket-subtotal").innerHTML = sum;

    /* Assign actions */
    $('.quantity input').change(function() {
        updateQuantity(this);
    });

    $('.remove button').click(function() {
        removeItem(this);
    });

    $(document).ready(function() {
        updateSumItems();
    });

    /* Recalculate cart */
    function recalculateCart(onlyTotal) {
        var subtotal = 0;

        /* Sum up row totals */
        $('.basket-product').each(function() {
            subtotal += parseFloat($(this).children('.subtotal').text());
        });

        /* Calculate totals */
        var total = subtotal;

        /*If switch for update only total, update only total display*/
        if (onlyTotal) {
            /* Update total display */
            $('.total-value').fadeOut(fadeTime, function() {
                $('#basket-total').html(total.toFixed(2));
                $('.total-value').fadeIn(fadeTime);
            });
        } else {
            /* Update summary display. */
            $('.final-value').fadeOut(fadeTime, function() {
                $('#basket-subtotal').html(subtotal.toFixed(2));
                $('#basket-total').html(total.toFixed(2));
                if (total == 0) {
                    $('.checkout-cta').fadeOut(fadeTime);
                } else {
                    $('.checkout-cta').fadeIn(fadeTime);
                }
                $('.final-value').fadeIn(fadeTime);
            });
        }
    }

    /* Update quantity */
    function updateQuantity(quantityInput) {
        /* Calculate line price */
        var productRow = $(quantityInput).parent().parent();
        var price = parseFloat(productRow.children('.price').text());
        var quantity = $(quantityInput).val();
        var linePrice = price * quantity;
        var id = $(quantityInput).attr('id').slice(3, );
        cart[id][0] = parseInt(quantity);
        localStorage.setItem('cart', JSON.stringify(cart));
        $.ajax({
        url: '/ajax/cartUpdate/',
        data: {
          'cart': JSON.stringify(cart)
        }
        });
        /* Update line price display and recalc cart totals */
        productRow.children('.subtotal').each(function() {
            $(this).fadeOut(fadeTime, function() {
                $(this).text(linePrice.toFixed(2));
                recalculateCart();
                $(this).fadeIn(fadeTime);
            });
        });

        productRow.find('.item-quantity').text(quantity);
        updateSumItems();
    }

    function updateSumItems() {
        var sumItems = 0;
        $('.quantity input').each(function() {
            sumItems += parseInt($(this).val());
        });
        $('.total-items').text(sumItems);
    }

    /* Remove item from cart */
    function removeItem(removeButton) {
        /* Remove row from DOM and recalc cart total */
        var productRow = $(removeButton).parent().parent();
        var id = $(removeButton).attr('id').slice(3, );
        delete cart[id]
        localStorage.setItem('cart', JSON.stringify(cart));
        $.ajax({
        url: '/ajax/cartUpdate/',
        data: {
          'cart': JSON.stringify(cart)
        }
        });
        productRow.slideUp(fadeTime, function() {
            productRow.remove();
            recalculateCart();
            updateSumItems();
        });
    }

    $('.checkout-cta').on('click',function(){
        window.location = '/checkout/';
    })

</script>
{% endblock %}