<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/media/css/home.css">
    <link rel="stylesheet" href="https://cdn.3up.dk/mdi@2.2.43/css/materialdesignicons.min.css">
</head>

<body>


    <main>
        <!-- Main Container -->
        <div class="container col-xxl-10 px-1 py-1" style="margin-top: 20px; margin-bottom: 80px;">

            <!-- Hero Section -->
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5"
                style="margin-top: -40px; margin-bottom: 40px;">
                <div class="col-sm-12 col-lg-6">
                    <img src="/media/images/home/hero.png" class="d-block mx-lg-auto img-fluid" width="2000"
                        height="1000" loading="lazy">
                </div>
                <div class="col-lg-6" id="hero_text_div">
                    <h1 class="display-5 fw-bold lh-1 mb-3"
                        style="font-size: 48px; color: #782F9A; font-family: oswald;">
                        TheySell : Empowering <br> LGBTQ + Women!</h1>
                    <p class="lead">TheySell is an initiative to empower women and LGBTQ in Indian society by connecting
                        them to customers worldwide through anonymous and safe selling.The trans and queer youth who are
                        houseless, in foster care, or otherwise without vital support receive the money they want and
                        the affirmation they need from people all over the world. Help us show young trans people that
                        they are loved and cherished exactly for who they are!

                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/templates/login.html"><button style="background-color: #782F9A;border-color:white" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Login</button></a>
                        <a href="/shop"><button type="button" style="color: #782F9A;border-color:#782F9A;" class="btn btn-outline-primary btn-lg px-4 me-md-2">Shop</button></a>
                    </div>
                </div>
            </div>
            <!-- Hero Section End -->

            <!-- About -->

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-sm-8 col-lg-6">
                    <table>
                        <tr>

                            <th style="color: #782F9A



">What you need to know?</th>
                            <th></th>

                        </tr>
                        <tr>
                            <td><a href="#transmission">How TheySell works for Users?</a></td>
                            <td><i class="fa fa-arrow-right"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#prevention">What are TheySell benefits?</a></td>
                            <td><i class="fa fa-arrow-right"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#treatment">How TheySell is a gift to the community</a></td>
                            <td><i class="fa fa-arrow-right"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#faqs">FAQ's</a></td>
                            <td><i class="fa fa-arrow-right"></i></td>
                        </tr>

                    </table>
                </div>
                <div class="col-lg-6" id="about_covid_div">
                    <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #782F9A



;font-family: Roboto;">
                        ABOUT OUR PLATFORM</h5>

                    <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #782F9A
;font-family: oswald;">
                        TheySell
                    </h3>

                    <p class="lead" style="color: #393e46;">TheySell is an aim to be India’s largest Women + LGBTQ
                        Oriented Product
                    </p>

                    <p class="lead" style="color: #393e46;"> Its objective is to remove the middlemen and empower young
                        trans by connecting them to customers worldwide
                        We also support our government's
                        initiatve at Nat'l Framework which is Decentralizing India with Blockchain



                    </p>

                    <p class="lead" style="color: #393e46;"> Click on the links given on right to know more about
                        TheySell in
                        depth.</p>

                </div>
            </div>

            <!-- About End -->

            <!-- Spread of Virus -->
            <div class="px-4 py-5 my-5 text-center"><a name='transmission'></a>
                <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #782F9A



;font-family: Roboto;">HOW
                    THEYSELL
                    WORKS FOR USERS?</h5>

                <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #782F9A
;font-family: oswald;">
                    EFFECTIVE USE OF THEYSELL</h3>

                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-6">All transactions are processed using blockchain which is a decentralized way so
                        that no single person or group has control—rather, all users collectively retain control . Below
                        are
                        three steps for successful selling:</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width:100%">
                        <img src="/media/images/home/login.png" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Step 1 : Make an Account</b></h4>
                            <p>You can make an account using the Register button on the top of the website. You can also
                                use the sign-in via Google option</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width:100%">
                        <img src="/media/images/home/addtocart.png" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Step 2 : Upload documents </b></h4>
                            <p>Fill in your basic details and Upload all the documents requested by the website for
                                verification</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width:100%">
                        <img src="/media/images/home/payment.png" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Step 3 : Upload Products</b></h4>
                            <p>Congratulations you have taken the final step! You can now upload unlimited goods and
                                generate revenue!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Spread of Virus End -->


        <!-- Prevention & Advice Begin -->
        <div class="px-4 py-5 my-5 text-center"><a name='prevention'></a>
            <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #782F9A



;font-family: Roboto;">BENEFITS OF
                SELLING GOODS ON THEYSELL?</h5>

            <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #782F9A
;font-family: oswald;">
                KNOW THE BENEFITS</h3>

            <div class="col-lg-6 mx-auto">
                <p class="lead mb-12">There are enormous benefits of TheySell
                    We have listed out the popular ones below:</p>
            </div>

        </div>

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-3">
                    <img src="/media/images/home/wash.png" style="width:350px; border-radius: 50%;">
                    <h4 style="margin-top: 20px;">Upload Unlimited Goods</h4>
                    <p>Once you register and create a new account, you can upload unlimited goods and earn revenue!
                    </p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img src="/media/images/home/avoid.png" style="width:300px; border-radius: 50%;">
                    <h4 style="margin-top: 20px;">No Middlemen Involved</h4>
                    <p>You dont have to fear from anyone and get your desired pay as per your terms</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img src="/media/images/home/facetouch.png" style="width:350px; border-radius: 50%;">
                    <h4 style="margin-top: 40px;">Anonymous Selling</h4>
                    <p>Sell and earn anonymously without the fear of anyone!</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img src="/media/images/home/track.png" style="width: 300px; border-radius: 50%;">

                    <h4 style="margin-top: 40px;">Empowering Communities</h4>
                    <p>You can ask your friends and community to join TheySell and earn together! </p>

                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

        </div>
        <!-- Prevention & Advice End -->

        <!-- Treatment -->

        <div class="row align-items-md-stretch" style="padding-top: 100px; padding-bottom:100px; margin-top:20px; margin-bottom:-50px; background-color: #782F9A
;">
            <a name='treatment'></a>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white  rounded-3">
                    <h5 class="display-5 fw-bold lh-1 mb-3 text-white " style="font-size: 18px; color: #782F9A



;font-family: Roboto;">
                        GIFT TO THE COMMUNITY</h5>

                    <h3 class="display-5 fw-bold lh-1 mb-3 text-white " style="font-size: 48px; color: #782F9A
;font-family: oswald;">
                        MANAGE BUSINESS WITHOUT FEAR</h3>

                    <div class="col-lg-12 mx-auto">
                        <p style="color:white !important;">Do you often face harassment for who you are and often try to
                            hide your identity? Either for earning money or for your personal use? Then TheySell is
                            going to
                            be a super aid to you and your business as it will make your process hassle free and enable
                            you to safely sell your goods! You can make your accounts and upload your documents at once
                            and start uploading goods!</p>

                        <p style="color:white !important;">Make an account with TheySell today and get all the perks for
                            free and enjoy the hassle free, chaos free single click applications!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white rounded-3">

                    <h2>Security</h2>
                    <p style="color:white !important;">All the documents are stored in the form of nodes in blockchain
                        and hence it is impossible to tamper a user's data as blockchain technologies are super
                        efficient, robust and secure.</p>

                    <br>
                    <h2>General Help</h2>
                    <p style="color:white !important;">In case of any queries you can read the FAQ's section or call on
                        the helpline number and our team will get in touch with you!</p>
                </div>
            </div>
        </div>

        <!-- Treatment END -->

        <!-- DO’S & DON’TS -->
        <div style="background-color: #FFF;">
            <div class="px-4 py-5 my-5 text-center">
                <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #782F9A



;font-family: Roboto;">
                    WORK OF BLOCKCHAIN</h5>

                <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #782F9A
;font-family: oswald;">
                    BLOCKCHAIN EXPLAINED</h3>

                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-12">Blockchain is a shared, immutable ledger that facilitates the process of
                        recording transactions and tracking assets in a business network. An asset can be tangible (a
                        house, car, cash, land) or intangible (intellectual property, patents, copyrights, branding).
                        Virtually anything of value can be tracked and traded on a blockchain network, reducing risk and
                        cutting costs for all involved.

                    </p>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-lg-12">
                <img src="/media/images/home/blockchain.jpg" class="d-block mx-lg-auto img-fluid" width="1200"
                    height="400" loading="lazy">
            </div>
        </div>
        <!-- DO’S & DON’TS End -->

        <!-- FAQ'S -->
        <div class="px-4 py-5 my-5 text-center"><a name='faqs'></a>
            <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #782F9A



;font-family: Roboto;">
                FREQUENTLY ASKED QUESTIONS</h5>

            <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #782F9A
;font-family: oswald;">
                COMMON QUESTION & ANSWER</h3>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                            <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1"
                                aria-selected="true">
                                <i class="fa fa-question-circle"></i> Frequently Asked Questions
                            </a>
                            <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2"
                                aria-selected="false">
                                <img style="float: inherit;" src="images/faq_icons/prevention.png" alt=""> Document
                                Queries
                            </a>
                            <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3"
                                aria-selected="false">
                                <img style="float: inherit;" src="images/faq_icons/spread.png" alt=""> Registration
                                Queries
                            </a>


                        </div>
                    </div>
                    <div class="col-lg-8" style="text-align: justify;">
                        <div class="tab-content" id="faq-tab-content">
                            <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                <div class="accordion" id="accordion-tab-1">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-1-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-1-content-1" aria-expanded="false"
                                                    aria-controls="accordion-tab-1-content-1">What is
                                                    TheySell?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-1-content-1"
                                            aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                            <div class="card-body">
                                                <p>TheySell is an initiative to empower women and LGBTQ in Indian
                                                    society by connecting them to customers worldwide through anonymous
                                                    and safe selling.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-1-heading-2">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-1-content-2" aria-expanded="false"
                                                    aria-controls="accordion-tab-1-content-2">Why is it called
                                                    TheySell?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-1-content-2"
                                            aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                            <div class="card-body">
                                                <p>It is a safe and secure ecommerce place for women & LGBTQ, hence the
                                                    name 'TheySell'
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                <div class="accordion" id="accordion-tab-2">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-2-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-2-content-1" aria-expanded="false"
                                                    aria-controls="accordion-tab-2-content-1">How can I submit
                                                    documents?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-2-content-1"
                                            aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                                            <div class="card-body">
                                                <ul style="text-align: left;">

                                                    You can make an account and click on the section link and read
                                                    simple steps to make a new account! <a href="#transmission">
                                                        link</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-2-heading-3">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-2-content-3" aria-expanded="false"
                                                    aria-controls="accordion-tab-2-content-3">Are my documents
                                                    secure?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-2-content-3"
                                            aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                                            <div class="card-body">
                                                <p>Yes, we are using Blockchain to secure your documents, hence nobody
                                                    can tamper with your data!</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                                <div class="accordion" id="accordion-tab-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-3-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-3-content-1" aria-expanded="false"
                                                    aria-controls="accordion-tab-3-content-1">How to open an
                                                    account?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-3-content-1"
                                            aria-labelledby="accordion-tab-3-heading-1" data-parent="#accordion-tab-3">
                                            <div class="card-body">
                                                <p>You can click on the register button in the header, fill the basic
                                                    form and welcome!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-3-heading-2">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-3-content-2" aria-expanded="false"
                                                    aria-controls="accordion-tab-3-content-2">Is there a Registration
                                                    Fees?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-3-content-2"
                                            aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                                            <div class="card-body">
                                                <p>No, TheySell is compleletely FREE for all!</p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>



        <!-- FAQ'S End -->




        <!-- Main container closed -->
        </div>

    </main>
</body>

</html>